body {
    font-family: 'Arial, sans-serif';
    margin: 0;
    padding: 0;
    background-color: #fff8e1;
    color: #5d4037;
    /* line-height: 1.6; */
    text-align: center;
  }
  
  /* Header */
  header {
    text-align: center;
    background-color: #d7ccc8;
    padding: 20px;
    border-bottom: 2px solid #a1887f;
  }
  
  header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #4e342e;
  }
  
  header p {
    font-size: 1.2em;
    margin: 5px 0 0;
  }
  
  /* Menu Section */
  .menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
  }
  .menu-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }
  
  .menu-item h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #3e2723;
  }
  .menu-item:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
  }
  
  .menu-item img{
    width: auto;
    height: 200px;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 8px;
    padding: 2px;
  }
  .price {
    display: inline-block;
    background: #d7ccc8;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 10px;
  }
  .back-button {
    background: #d7ccc8;
    color: black;
    /* padding: 5px; */
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer; 
  }
  header{
    display: flex;
    justify-content: space-between;
  }
  .back-button:hover{
    background: #a1887f;
  }