* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: serif, sans-serif;
   color: whitesmoke;
}

/* PROFILE-1 */
.container1{
   width: 100vw;
   height: 100vh;
   overflow: hidden;
   background: linear-gradient(120deg,#360033, #0b8793);

}

.container1 .person1{
   width: 50%;
   float: left;
   display: flex;
   justify-content: center;
   align-items: start;
   overflow: hidden;
   margin-top: 70px;
}
.container1 .person1 .imagebg{
   width: 400px;
   height:400px;
   position: absolute;
   border-radius:50%;
   background-color: transparent;
   box-shadow:0 20px 40px rgba(0,0,0,1);
   z-index:0;

}
.person1 img{
   width:100%;
   position: relative;
   z-index:1;
   object-fit: cover;
   left:17%;
   top: 70px; 

}

 .container1 .para1 {
   width: 50%;
   float: right;
   font-weight:bolt;
   word-spacing: 5px;
}
.container1 .para1 h1{
  position:relative ;
  top:80px;
  left:150px;
  font-size:50px;
}
.container1 .para1  ol{
   margin-top:260px;
   padding: 30px;
}
.container1 .para1 ol li{
   font-size:20px;

}
.container1 .para1 p{
   font-size:20px;
   margin-right: 20px;
   padding: 20px;
}


/* PROFILE-2 */
.person2 {
   grid-area: two;
   background: linear-gradient(#360033, #0b8793);

}

.para2 {
   grid-area: one;
   background: linear-gradient(#360033, #0b8793);
}
.container .person2 {
   display: flex;
   justify-content: end;
   align-items: center;
}

.container .person2 img {
   height: 400px;
   width: 400px;
   border-radius: 50%;
   margin: 20px;

}

.para2 {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.para2 h1 {
   font-size: 2rem;
   margin: 10px;
}

.para2 ol {
   font-size: 1.3rem;
   margin: 20px;
}

.para2 ol li {
   margin: 20px;
}

.para2 p {
   font-size: 1.3rem;
   margin: 20px;
}