*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif ,sans-serif;
    color: whitesmoke;
}
/* PROFILE-1 */
.container{
    display: grid;
    grid-template-areas:"one two";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.person1{
    grid-area: one;
    background:linear-gradient(#360033, #0b8793);

}
.para1{
    grid-area: two;
    background:linear-gradient(#360033,#0b8793);
}
.ver-line{
    height: 100vh;
    width: 3px;
    background-color: yellow;
    position: absolute;
    left: 40%;
    transform: rotate(35deg);
}

 .container .person1{
    display: flex;
    justify-content: start;
    align-items: center;
 }
 .container .person1 img{
    height: 400px;
    width: 400px;
    border-radius:50% ;
    margin: 20px;
   
 }
 .para1{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
 }
 .para1 h1{
    font-size: 2rem;
    margin:10px;
 }
 .para1 ol{
    font-size: 1.3rem;
    margin: 20px;
 }
 .para1 ol li{
    margin: 20px;
 }
 .para1 p{
    font-size: 1.3rem;
    margin: 20px;
 }
 /* PROFILE-2 */
 .person2{
   grid-area: two;
   background:linear-gradient(#360033, #0b8793);

}
.para2{
   grid-area: one;
   background:linear-gradient(#360033,#0b8793);
}
