*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: sans-serif;
}
body{
    background-image: url(food1.jpg);
    background-size:cover;
    scroll-behavior: smooth;
    backdrop-filter: blur(3px);
}
.shopname{
    display: flex;
    height:100vh;
    
}
.left{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.right{
    width:50%;
}
.top{
    display: flex;
    align-items:center;
    justify-content: center;
    height: 50%; 
}
.bottom{
    height: 50%;
    padding: 10px;
    margin-left: 8vw;
    overflow-y: auto;
}
h1, p {
    margin: 0;
}
.top{
    font-family: 'Poppins',sans-serif;
    font-size: 120px;
    background: linear-gradient( 45deg,rgb(2, 48, 92),rgb(0, 102, 185),rgb(0, 55, 100));
     background-clip: text;
     background-size: cover ;
     color: transparent;
}
.bottom h1{
    font-family: 'Merriweather',serif;
    font-size:40px;
    padding-bottom: 10px;
    color:navy;
}
.bottom p{
    font-family: 'Open-Sans',sans-serif;
    padding-bottom: 20px;
    font-weight: bold;
    color:navy;
}
.link1{
    font-family: 'Poppins',sans-serif;
    font-size: 30px;
    background:linear-gradient( 45deg,rgb(2, 48, 92),rgb(0, 102, 185),rgb(0, 55, 100));
    background-clip: text;
    background-size: cover ;
    color: transparent;
}
.link1:hover{
    text-decoration: none;
    background: linear-gradient(45deg,coral, orange);
     background-clip: text;
     background-size: cover ;
     color: transparent;
}
nav{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0px 50px;
    position: fixed;
    top: 0px;
    z-index: 1;
    background:transparent;
    background-color: rgb(6, 6, 75,0.6);
    backdrop-filter: blur(50px);
}
#nav-logo{
   
   font-family: brodway,algerian ,serif ;
   font-size: 35px;
   font-weight: bolder;
   filter: drop-shadow( 3px 3px 5px rgb(1, 10, 53));
   color:rgb(201, 223, 249);
   letter-spacing: 5px;
}
.menu{
    display: flex;
    justify-content: right;
    list-style-type: none;  
}
.menu li a{
    text-decoration: none;
    color: rgb(157, 223, 253);
    font-size: 20px;
    margin: 20px; 
    transition: -2s ease;
}
.search{
    display: flex;
    align-items: center;
    position: relative;
}
.search input{
    width: 200px;
    height: 30px;
    display: flex;
    text-align: center;
    border: 1px solid black;
    outline: none;
    border-radius: 20px;
    font-size: 15px;
    padding-left: 5px; 
    padding-right:5px;
    font-weight: bold;
    background-color:lightblue;
    transition: 0.5s ease;
}
.search input:hover{
    width:500px;
}
.fa-magnifying-glass{
    position: absolute;
    left: 6px;
    top: 7px;
}
.menu li a:hover{
    color:darkcyan;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.droplist{
    position: absolute;
    display: none;
    background-color:white;
    backdrop-filter: blur(20px);
    box-shadow: 0px 4px 6px black;
    
}
.droplist a{
    display: block;
    margin: 5px;
    padding: 10px 10px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.dropdown:hover .droplist{
    display: block;
}
.droplist a:hover{
    background-color: rgb(0, 59, 99);
    color: rgb(253, 252, 252);
}