*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-image: url(food1.jpg);
    background-size:cover;
    scroll-behavior: smooth;
}
.shopname{
    display: flex;
    height:100vh;
}
.left{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.right{
    width:50%;
}
.top{
    display: flex;
    align-items:center;
    justify-content: center;
    height: 50%; 
}
.bottom{
    height: 50%;
    padding: 10px;
    margin-left: 8vw;
    overflow-y: auto;
}
h1, p {
    margin: 0;
}
.top{
    font-family: 'Poppins',sans-serif;
    font-size: 120px;
    background: linear-gradient( 45deg,red,yellow);
     background-clip: text;
     background-size: cover ;
     color: transparent;
}
.bottom h1{
    font-family: 'Merriweather',serif;
    font-size:40px;
    padding-bottom: 10px;
    color:chocolate;
}
.bottom p{
    font-family: 'Open-Sans',sans-serif;
    padding-bottom: 20px;
    font-weight: bold;
    color: coral;
}
.link1{
    font-family: 'Poppins',sans-serif;
    font-size: 30px;
    color: crimson;
}
.link1:hover{
    text-decoration: none;
    background: linear-gradient(45deg,coral, orange);
     background-clip: text;
     background-size: cover ;
     color: transparent;
}
nav{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0px 50px;
    position: fixed;
    top: 0px;
    z-index: 1;
    background: linear-gradient(45deg,aqua,skyblue);
}
#nav-logo{
   
   font-family: brodway,algerian ,serif ;
   font-size: 35px;
   font-weight: bolder;
   filter: drop-shadow( 3px 3px 3px grey);
}
.menu{
    display: flex;
    justify-content: right;
    list-style-type: none;  
}

.menu li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 20px; 
     transition: -2s ease;
}
.search{
    display: flex;
    align-items: center;
    position: relative;
}
.search input{
    height: 30px;
    display: flex;
    border: 1px solid black;
    outline: none;
    border-radius: 20px;
    font-size: 15px;
    padding-left: 30px; 
}
.fa-magnifying-glass{
    position: absolute;
    left: 6px;
    top: 7px;
}
.dropdown{
    display: inline-block;
}
.droplist{
    display: none;
   position: absolute;
    background-color: whitesmoke;
    color: black;
    z-index: 1;
    box-shadow: 3px 3px 6px black;
    overflow: hidden;
}
.dropdown:hover .droplist{
    display: block;
}
.droplist a{
    /* padding: 10px 10px; */
    display: block;
    font-weight: bold;
    
}
.droplist a:hover{
    background-color: grey;
    color: white;
}